body {
    font-size: 20px;
  }
.about-img {
  display: inherit;
  width: 200px;
  height: 200px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
  }

.line-img {
   float: left;
   width:  200px;
   height: 300px;
   object-fit: cover;
   border-radius: 2%;
  }

  .slide-img {
  float: left;
  width:  350px;
  height: 350px;
  object-fit: cover;
  border-radius: 2%;
  }

  li{
      color: white;
  }